<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/reposuite-rcs/src/main/java/rcs/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.preferred_launchers">
<mapEntry key="[run]" value="org.eclipse.jdt.launching.localJavaApplication"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/tmp/reposuite_core.log"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="rcs.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="reposuite-rcs"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -Dlog.level=debug -Drepository.type=GIT -Ddatabase.user=miner -Ddatabase.password=miner -Ddatabase.driver=org.postgresql.Driver -Dheadless -Ddatabase.name=reposuite_core_test -Ddatabase.host=quentin.cs.uni-saarland.de -Drepository.uri=file:///Users/just/jruby_git_repo_03_07_2010/git_repo_03_07_2010 -Ddatabse.type=PostgreSQL"/>
</launchConfiguration>
