<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
          <view
         class="org.se2010.emine.ui.views.markers.EMineProblemViewMarker"
         icon="icons/problems_view.gif"
         id="org.se2010.emine.ui.views.markers.eMineProblemViewMarker"
         name="eMine Problem View">
   </view> 
   </extension>
     <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.se2010.emine.properties.PropertyPage"
            id="org.se2010.emine.properties.Overview"
            name="eMine"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
      <page
            adaptable="true"
            class="org.se2010.emine.properties.FrontendPropertyPage"
            id="org.se2010.emine.properties.Frontend"
            name="eMine - Frontend"
            category="org.se2010.emine.properties.Overview"
            objectClass="org.eclipse.core.resources.IProject">
            
      </page>
      <page
            adaptable="true"
            class="org.se2010.emine.properties.PropertyPage"
            id="org.se2010.emine.properties.PropertyPage"
            name="eMine - Backend"
            category="org.se2010.emine.properties.Overview"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   
   <extension
         id="red_marker"
         name="red Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.red_marker"
			icon="icons/red_marker.gif"
         id="red_marker.ImageProvider">
   </imageprovider>
   </extension>
     <extension
         id="yellow_marker"
         name="yellow Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.yellow_marker"
			icon="icons/yellow_marker.gif"
         id="yellow_marker.ImageProvider">
   </imageprovider>
   </extension>
   <extension
         id="green_marker"
         name="green Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.green_marker"
			icon="icons/green_marker.gif"
         id="green_marker.ImageProvider">
   </imageprovider>
   </extension>
   <extension
         id="trans0_marker"
         name="Transparenz 0 Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.trans0_marker"
			icon="icons/trans0_marker.gif"
         id="trans0_marker.ImageProvider">
   </imageprovider>
   </extension>
   <extension
         id="trans1_marker"
         name="Transparenz 1 Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.trans1_marker"
			icon="icons/trans1_marker.gif"
         id="trans1_marker.ImageProvider">
   </imageprovider>
   </extension>
   <extension
         id="trans2_marker"
         name="Transparenz 2 Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.trans2_marker"
			icon="icons/trans2_marker.gif"
         id="trans2_marker.ImageProvider">
   </imageprovider>
   </extension>
   <extension
         id="trans3_marker"
         name="Transparenz 3 Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.trans3_marker"
			icon="icons/trans3_marker.gif"
         id="trans3_marker.ImageProvider">
   </imageprovider>
   </extension>
   <extension
         id="trans4_marker"
         name="Transparenz 4 Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.trans4_marker"
			icon="icons/trans4_marker.gif"
         id="trans4_marker.ImageProvider">
   </imageprovider>
   </extension>

</plugin>
