<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
          <view
         class="org.se2010.emine.ui.views.markers.eMineProblemViewMarker"
         icon="icons/problems_view.gif"
         id="org.se2010.emine.ui.views.markers.eMineProblemViewMarker"
         name="eMine Problem View">
   </view> 
   </extension>
     <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.se2010.emine.properties.PropertyPage"
            id="org.se2010.emine.properties.PropertyPage"
            name="eMine - Backend"
            objectClass="org.se2010.emine.properties.PropertyFile">
      </page>
      <page
            class="emine.WorkbenchPropertyPage2"
            id="eMine.page2"
            name="eMine - Frontend">
      </page>
   </extension>
   
   <extension
         id="red_marker"
         name="red Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.red_marker"
			icon="icons/red_marker.gif"
         id="red_marker.ImageProvider">
   </imageprovider>
   </extension>
     <extension
         id="yellow_marker"
         name="yellow Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.yellow_marker"
			icon="icons/yellow_marker.gif"
         id="yellow_marker.ImageProvider">
   </imageprovider>
   </extension>
      <extension
         id="green_marker"
         name="green Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.marker">
      </super>
      <persistent value="false">
      </persistent>
      <attribute name="message"/>
      <attribute name="location"/>      
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
   <imageprovider
         markertype="org.se2010.emine.green_marker"
			icon="icons/green_marker.gif"
         id="green_marker.ImageProvider">
   </imageprovider>
   </extension>

</plugin>
