.classpath
.externalToolBuilders
.project
.settings
maven-eclipse.xml
target/
de.unisaarland.cs.st.reposuite.ppa.eclipse/bin/
de.unisaarland.cs.st.reposuite.callgraph.eclipse/bin/
!de.unisaarland.cs.st.reposuite.ppa.eclipse/.classpath
!de.unisaarland.cs.st.reposuite.ppa.eclipse/.project
!de.unisaarland.cs.st.reposuite.callgraph.eclipse/.classpath
!de.unisaarland.cs.st.reposuite.callgraph.eclipse/.project

/eclipse-apps/
.log
me.agl/
eclipse/