.externalToolBuilders
mozkito-modules/**/.classpath
mozkito-modules/**/.project
mozkito-modules/**/.settings
mozkito-modules/**/eclipse
mozkito-modules/**/bin
mozkito-tools/**/.classpath
mozkito-tools/**/.project
mozkito-tools/**/.settings
mozkito-tools/**/eclipse
mozkito-tools/**/bin
mozkito-settings/**/.classpath
mozkito-settings/**/.project
mozkito-settings/**/.settings
mozkito-settings/**/eclipse
mozkito-settings/**/bin
mozkito-maven-plugins/**/.classpath
mozkito-maven-plugins/**/.project
mozkito-maven-plugins/**/.settings
mozkito-maven-plugins/**/eclipse
mozkito-maven-plugins/**/bin
mozkito-utilities/**/.classpath
mozkito-utilities/**/.project
mozkito-utilities/**/.settings
mozkito-utilities/**/eclipse
mozkito-utilities/**/bin
mozkito-research/**/.classpath
mozkito-research/**/.project
mozkito-research/**/.settings
mozkito-research/**/eclipse
mozkito-research/**/bin
maven-eclipse.xml
target/
.log
/eclipse-apps/
/DiffCompare/*
/ca.mcgill.*
~$*
__MACOSX
*.class
*-e
*.log
*/eclipse
.DS_Store
.svn
mozkito-*/bin
**/jacoco.exec
.checkstyle
persistence.xml
*-persistence.xml
mozkito-modules/**/eclipse
database
/mozkito-modules/mozkito-versions/src/main/resources/RepositoryUML.ucls
/mozkito-modules/mozkito-versions/src/main/resources/ClassDiagram.ucls
/mozkito-modules/mozkito-versions/src/main/resources/ClassDiagram.png
/mozkito-modules/mozkito-persistence/src/main/resources/ClassDiagram.ucls
/mozkito-modules/mozkito-persistence/src/main/resources/ClassDiagram.png
/mozkito-modules/mozkito-issues/src/main/resources/ClassDiagram.ucls
/mozkito-modules/mozkito-issues/src/main/resources/ClassDiagram.png
/mozkito-modules/maven.err
/mozkito-maven-plugins/mozkito-maven-plugin/maven.err
