.externalToolBuilders
mozkito-*/**/.classpath
mozkito-*/**/.project
mozkito-*/**/.settings
mozkito-*/**/eclipse
mozkito-*/**/bin
maven-eclipse.xml
target/
de.unisaarland.cs.st.reposuite.ppa.eclipse/bin/
de.unisaarland.cs.st.reposuite.callgraph.eclipse/bin/
de.unisaarland.cs.st.reposuite.datadependency.eclipse/lib
de.unisaarland.cs.st.moskito.callgraph.eclipse/lib
.log
/eclipse-apps/
/DiffCompare/*
/ca.mcgill.*
~$*
__MACOSX
*.class
*-e
*.log
*/eclipse
.DS_Store
.svn
mozkito-*/bin
**/jacoco.exec
.checkstyle
persistence.xml
*-persistence.xml
mozkito-modules/**/eclipse
database
/mozkito-modules/mozkito-versions/src/main/resources/RepositoryUML.ucls
/mozkito-modules/mozkito-versions/src/main/resources/ClassDiagram.ucls
/mozkito-modules/mozkito-versions/src/main/resources/ClassDiagram.png
/mozkito-modules/mozkito-persistence/src/main/resources/ClassDiagram.ucls
/mozkito-modules/mozkito-persistence/src/main/resources/ClassDiagram.png
/mozkito-modules/mozkito-issues/src/main/resources/ClassDiagram.ucls
/mozkito-modules/mozkito-issues/src/main/resources/ClassDiagram.png
/mozkito-modules/maven.err
/mozkito-maven-plugins/mozkito-maven-plugin/maven.err
