[submodule "tools/libs/git-svn-migrate"]
	path = tools/libs/git-svn-migrate
	url = git://github.com/JohnAlbin/git-svn-migrate.git
[submodule "tools/libs/hg-fast-export"]
	path = tools/libs/hg-fast-export
	url = git://repo.or.cz/fast-export.git
[submodule "tools/libs/git-p4raw"]
	path = tools/libs/git-p4raw
	url = git://github.com/samv/git-p4raw.git
[submodule "tools/libs/cvsps"]
	path = tools/libs/cvsps
	url = git://repo.or.cz/cvsps-yd.git
