<?xml version="1.0"?>
<!--
  Copyright (c) 2011 Kim Herzig, Sascha Just.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v2.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  
  Contributors:
      Kim Herzig, Sascha Just - initial API and implementation
-->
<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0">
	<persistence-unit name="persistence" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>org.mozkito.persistence.model.DateTimeTuple</class>
		<class>org.mozkito.persistence.model.EnumTuple</class>
		<class>org.mozkito.persistence.model.Person</class>
		<class>org.mozkito.persistence.model.PersonContainer
		</class>
		<class>org.mozkito.persistence.model.PersonTuple</class>
		<class>org.mozkito.persistence.model.StringTuple</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.Synchronizemappingss" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/>-->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="versions" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>org.mozkito.persistence.model.DateTimeTuple</class>
		<class>org.mozkito.persistence.model.EnumTuple</class>
		<class>org.mozkito.persistence.model.Person</class>
		<class>org.mozkito.persistence.model.PersonContainer</class>
		<class>org.mozkito.persistence.model.PersonTuple</class>
		<class>org.mozkito.persistence.model.StringTuple</class>
		<class>org.mozkito.versions.model.versionsBranch</class>
		<class>org.mozkito.versions.model.versionsFile</class>
		<class>org.mozkito.versions.model.versionsRevision</class>
		<class>org.mozkito.versions.model.versionsTransaction</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.Synchronizemappingss" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="unsupported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/>-->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="issues" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>org.mozkito.persistence.model.DateTimeTuple</class>
		<class>org.mozkito.persistence.model.EnumTuple</class>
		<class>org.mozkito.persistence.model.Person</class>
		<class>org.mozkito.persistence.model.PersonContainer</class>
		<class>org.mozkito.persistence.model.PersonTuple</class>
		<class>org.mozkito.versions.model.versionsBranch</class>
		<class>org.mozkito.versions.model.versionsFile</class>
		<class>org.mozkito.versions.model.versionsRevision</class>
		<class>org.mozkito.versions.model.versionsTransaction</class>
		<class>org.mozkito.persistence.model.StringTuple</class>
		<class>org.mozkito.issues.tracker.model.AttachmentEntry</class>
		<class>org.mozkito.issues.tracker.model.Comment</class>
		<class>org.mozkito.issues.tracker.model.CommentPrimaryKey</class>
		<class>org.mozkito.issues.tracker.model.History</class>
		<class>org.mozkito.issues.tracker.model.HistoryElement</class>
		<class>org.mozkito.issues.tracker.model.Report</class>
		<class>org.mozkito.issues.tracker.model.EnhancedReport</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.Synchronizemappingss" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="mappings" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
		<class>org.mozkito.persistence.model.DateTimeTuple</class>
		<class>org.mozkito.persistence.model.EnumTuple</class>
		<class>org.mozkito.persistence.model.Person</class>
		<class>org.mozkito.persistence.model.PersonContainer</class>
		<class>org.mozkito.persistence.model.PersonTuple</class>
		<class>org.mozkito.versions.model.versionsBranch</class>
		<class>org.mozkito.versions.model.versionsFile</class>
		<class>org.mozkito.versions.model.versionsRevision</class>
		<class>org.mozkito.versions.model.versionsTransaction</class>
		<class>org.mozkito.persistence.model.StringTuple</class>
		<class>org.mozkito.issues.tracker.model.AttachmentEntry</class>
		<class>org.mozkito.issues.tracker.model.Comment</class>
		<class>org.mozkito.issues.tracker.model.CommentPrimaryKey</class>
		<class>org.mozkito.issues.tracker.model.History</class>
		<class>org.mozkito.issues.tracker.model.HistoryElement</class>
		<class>org.mozkito.issues.tracker.model.Report</class>
		<class>org.mozkito.issues.tracker.model.EnhancedReport</class>
		<class>org.mozkito.mappings.model.mappings</class>
		<class>org.mozkito.mappings.model.Class2issues</class>
		<class>org.mozkito.mappings.model.File2issues</class>
		<class>org.mozkito.mappings.model.Filteredmappings</class>
		<class>org.mozkito.mappings.model.Method2issues</class>
		<class>org.mozkito.mappings.model.mappingsEngineFeature</class>
		<class>org.mozkito.mappings.macodeanalysisble.model.MacodeanalysisbleEntity</class>
		<class>org.mozkito.mappings.macodeanalysisble.model.MacodeanalysisbleReport</class>
		<class>org.mozkito.mappings.macodeanalysisble.model.MacodeanalysisbleTransaction</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<!--<property name="openjpa.jdbc.Synchronizemappingss" value="validate"/>-->
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="always"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
			<property name="openjpa.QuotedNumbersInQueries" value="true"/>
			<property name="openjpa.Compatibility" value="QuotedNumbersInQueries=true"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="codeanalysis" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>org.mozkito.persistence.model.DateTimeTuple</class>
		<class>org.mozkito.persistence.model.EnumTuple</class>
		<class>org.mozkito.persistence.model.Person</class>
		<class>org.mozkito.persistence.model.PersonContainer</class>
		<class>org.mozkito.persistence.model.PersonTuple</class>
		<class>org.mozkito.versions.model.versionsBranch</class>
		<class>org.mozkito.versions.model.versionsFile</class>
		<class>org.mozkito.versions.model.versionsRevision</class>
		<class>org.mozkito.versions.model.versionsTransaction</class>
		<class>org.mozkito.issues.tracker.model.AttachmentEntry</class>
		<class>org.mozkito.issues.tracker.model.Comment</class>
		<class>org.mozkito.issues.tracker.model.CommentPrimaryKey</class>
		<class>org.mozkito.issues.tracker.model.History</class>
		<class>org.mozkito.issues.tracker.model.HistoryElement</class>
		<class>org.mozkito.issues.tracker.model.Report</class>
		<class>org.mozkito.issues.tracker.model.EnhancedReport</class>
		<class>org.mozkito.persistence.model.StringTuple</class>
		<class>org.mozkito.codeanalysis.model.JavaElement</class>
		<class>org.mozkito.codeanalysis.model.JavaTypeDefinition</class>
		<class>org.mozkito.codeanalysis.model.JavaElementLocation</class>
		<class>org.mozkito.codeanalysis.model.JavaChangeOperation</class>
		<class>org.mozkito.codeanalysis.model.JavaMethodCall</class>
		<class>org.mozkito.codeanalysis.model.JavaMethodDefinition</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.Synchronizemappingss" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://grid1.st.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="always"/>
			<!-- <property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="untangling" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>org.mozkito.persistence.model.DateTimeTuple</class>
		<class>org.mozkito.persistence.model.EnumTuple</class>
		<class>org.mozkito.persistence.model.Person</class>
		<class>org.mozkito.persistence.model.PersonContainer</class>
		<class>org.mozkito.persistence.model.PersonTuple</class>
		<class>org.mozkito.versions.model.versionsBranch</class>
		<class>org.mozkito.versions.model.versionsFile</class>
		<class>org.mozkito.versions.model.versionsRevision</class>
		<class>org.mozkito.versions.model.versionsTransaction</class>
		<class>org.mozkito.persistence.model.StringTuple</class>
		<class>org.mozkito.codeanalysis.model.JavaElement</class>
		<class>org.mozkito.codeanalysis.model.JavaTypeDefinition</class>
		<class>org.mozkito.codeanalysis.model.JavaElementLocation</class>
		<class>org.mozkito.codeanalysis.model.JavaChangeOperation</class>
		<class>org.mozkito.codeanalysis.model.JavaMethodCall</class>
		<class>org.mozkito.codeanalysis.model.JavaMethodDefinition</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.Synchronizemappingss" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="infozilla" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>org.mozkito.persistence.model.DateTimeTuple</class>
		<class>org.mozkito.persistence.model.EnumTuple</class>
		<class>org.mozkito.persistence.model.Person</class>
		<class>org.mozkito.persistence.model.PersonContainer</class>
		<class>org.mozkito.persistence.model.PersonTuple</class>
		<class>org.mozkito.versions.model.versionsBranch</class>
		<class>org.mozkito.versions.model.versionsFile</class>
		<class>org.mozkito.versions.model.versionsRevision</class>
		<class>org.mozkito.versions.model.versionsTransaction</class>
		<class>org.mozkito.persistence.model.StringTuple</class>
		<class>org.mozkito.issues.tracker.model.AttachmentEntry</class>
		<class>org.mozkito.issues.tracker.model.Comment</class>
		<class>org.mozkito.issues.tracker.model.CommentPrimaryKey</class>
		<class>org.mozkito.issues.tracker.model.History</class>
		<class>org.mozkito.issues.tracker.model.HistoryElement</class>
		<class>org.mozkito.issues.tracker.model.Report</class>
		<class>org.mozkito.issues.tracker.model.EnhancedReport</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.Synchronizemappingss" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
</persistence>
