<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    version="1.0">
    <persistence-unit name="Reposuite" transaction-type="RESOURCE_LOCAL">
    	<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.DateTimeTuple</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.EnumTuple</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.IntegerTuple</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.LongTuple</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.Person</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.PersonContainer</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.RCSBranch</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.RCSFile</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.RCSRevision</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.RCSTransaction</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.RevisionPrimaryKey</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.StringTuple</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.A</class>
        <class>de.unisaarland.cs.st.reposuite.rcs.model.B</class>
        <properties>
        	<property name="openjpa.Log" value="slf4j" />
        	<property name="openjpa.Multithreaded" value="true" />
            <property name="openjpa.jdbc.SynchronizeMappings" value="validate" />
            <property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest" />
            <property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver" />
            <property name="openjpa.ConnectionPassword" value="miner" />
            <property name="openjpa.ConnectionUserName" value="miner" />
            <property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
            <property name="openjpa.Log" value="SQL=TRACE"/>
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72"/>
        </properties>
    </persistence-unit>
</persistence>