<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    version="1.0">
	<persistence-unit name="nullpointer" transaction-type="RESOURCE_LOCAL">
        <class>nullpointer.A</class>
        <class>nullpointer.B</class>
        <class>nullpointer.C</class>
		<properties>
        	<property name="openjpa.Log" value="none" />
            <property name="openjpa.jdbc.SynchronizeMappings" value="validate" />
            <property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
            <!--<property name="openjpa.Log" value="SQL=TRACE"/>
			--><property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72"/>
        </properties>
	</persistence-unit>
</persistence>