<?xml version="1.0"?>
<!--
  Copyright (c) 2011 Kim Herzig, Sascha Just.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v2.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  
  Contributors:
      Kim Herzig, Sascha Just - initial API and implementation
-->
<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0">
	<persistence-unit name="persistence" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>de.unisaarland.cs.st.moskito.persistence.model.DateTimeTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.EnumTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.Person</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonContainer
		</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.StringTuple</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/>-->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="rcs" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>de.unisaarland.cs.st.moskito.persistence.model.DateTimeTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.EnumTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.Person</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonContainer</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.StringTuple</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSBranch</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSFile</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSRevision</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSTransaction</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="unsupported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/>-->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="bugs" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>de.unisaarland.cs.st.moskito.persistence.model.DateTimeTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.EnumTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.Person</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonContainer</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonTuple</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSBranch</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSFile</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSRevision</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSTransaction</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.StringTuple</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.AttachmentEntry</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.Comment</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.CommentPrimaryKey</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.History</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.HistoryElement</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.Report</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="mapping" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
		<class>de.unisaarland.cs.st.moskito.persistence.model.DateTimeTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.EnumTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.Person</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonContainer</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonTuple</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSBranch</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSFile</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSRevision</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSTransaction</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.StringTuple</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.AttachmentEntry</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.Comment</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.CommentPrimaryKey</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.History</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.HistoryElement</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.Report</class>
		<class>de.unisaarland.cs.st.moskito.mapping.model.Mapping</class>
		<class>de.unisaarland.cs.st.moskito.mapping.model.Class2Bugs</class>
		<class>de.unisaarland.cs.st.moskito.mapping.model.File2Bugs</class>
		<class>de.unisaarland.cs.st.moskito.mapping.model.FilteredMapping</class>
		<class>de.unisaarland.cs.st.moskito.mapping.model.Method2Bugs</class>
		<class>de.unisaarland.cs.st.moskito.mapping.model.MappingEngineFeature</class>
		<class>de.unisaarland.cs.st.moskito.mapping.mappable.model.MappableEntity</class>
		<class>de.unisaarland.cs.st.moskito.mapping.mappable.model.MappableReport</class>
		<class>de.unisaarland.cs.st.moskito.mapping.mappable.model.MappableTransaction</class>
		<class>de.unisaarland.cs.st.moskito.mapping.mappable.model.MappableEnhancedReport</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<!--<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>-->
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="unsupported"/>
			<property name="openjpa.ConnectionRetainMode" value="always"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="ppa" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>de.unisaarland.cs.st.moskito.persistence.model.DateTimeTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.EnumTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.Person</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonContainer</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonTuple</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSBranch</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSFile</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSRevision</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSTransaction</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.StringTuple</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaElement</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaClassDefinition</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaElementLocation</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaChangeOperation</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaMethodCall</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaMethodDefinition</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://grid1.st.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="always"/>
			<!-- <property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="untangling" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>de.unisaarland.cs.st.moskito.persistence.model.DateTimeTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.EnumTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.Person</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonContainer</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonTuple</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSBranch</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSFile</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSRevision</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSTransaction</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.StringTuple</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaElement</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaClassDefinition</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaElementLocation</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaChangeOperation</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaMethodCall</class>
		<class>de.unisaarland.cs.st.moskito.ppa.model.JavaMethodDefinition</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
	<persistence-unit name="infozilla" transaction-type="RESOURCE_LOCAL">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl
		</provider>
		<class>de.unisaarland.cs.st.moskito.persistence.model.DateTimeTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.EnumTuple</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.Person</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonContainer</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.PersonTuple</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSBranch</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSFile</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSRevision</class>
		<class>de.unisaarland.cs.st.moskito.rcs.model.RCSTransaction</class>
		<class>de.unisaarland.cs.st.moskito.persistence.model.StringTuple</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.AttachmentEntry</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.Comment</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.CommentPrimaryKey</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.History</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.HistoryElement</class>
		<class>de.unisaarland.cs.st.moskito.bugs.tracker.model.Report</class>
		<properties>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.Multithreaded" value="true"/>
			<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>
			<property name="openjpa.ConnectionURL" value="jdbc:postgresql://quentin.cs.uni-saarland.de/reposuiteTest"/>
			<property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
			<property name="openjpa.ConnectionPassword" value="miner"/>
			<property name="openjpa.ConnectionUserName" value="miner"/>
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<property name="openjpa.ConnectionRetainMode" value="transaction"/>
			<!--<property name="openjpa.Log" value="SQL=TRACE"/> -->
			<property name="openjpa.ConnectionFactoryProperties" value="PrettyPrint=true, PrettyPrintLineLength=72, PrintParameters=True"/>
		</properties>
	</persistence-unit>
</persistence>
