<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/reposuite-bugs/src/main/java/main/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/tmp/reposuite_bugs.log"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="reposuite-bugs"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dtracker.fetchURI=file:///Users/just/Documents/University/msa_ss10/project/jedit_reports -Dtracker.overviewURI=file:///Users/just/Documents/University/msa_ss10/project/jedit_reports -Dtracker.pattern=/sourceforgeIssueReport_group_id=588_atid=100588aid=&lt;BUGID&gt;.xhtml -ea -Dlog.level=warn -Dtracker.type=sourceforge -Dcache.size=10"/>
</launchConfiguration>
